.bingkai{
  /* border: solid 1px; */
  margin: 0 auto;
  max-width: 30%;
  margin-top: 10%;
  font-family:sans-serif;
}
.header {
   background-color: #e67e22;
   margin: 0;
   border-radius: 5px;
}
.header p{
  color: white;
  padding: 10px;
  text-align:center;
  font-size: 30px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: rgba(230, 126, 34,0.1);
}
table td {
  padding: 10px;
  text-align: left;
}
table ul{
  margin: 0 auto;
  padding-left:15px;
}

